@use '../../styles/variables' as *;

.navBtns {
  display: flex;
  align-items: center;
  gap: calc($spacing-lg);

  @media (max-width: $mobile-breakpoint) {
    top: 2.55rem;
    inset-inline-end: 2.55rem;
    gap: $spacing-lg
  }
}
