@use '../../styles/variables';

.projects {
  transition: variables.$transition-base;
}

.masonryGrid {
  display: flex;
  gap: variables.$spacing-xs;
}

.projectCard {
  background: var(--main-gray);
  border-radius: variables.$border-radius;
  padding: 2.75rem 3.25rem;
  margin-bottom: variables.$spacing-xs;
  color: white;
  transition: variables.$transition-base;

  &:hover {
    transform: translateY(-3px);
  }

  &.light:hover {
    filter: brightness(variables.$brightness-light);
  }

  &.dark:hover {
    filter: brightness(variables.$brightness-dark);
  }

  h2 {
    font-family: 'figtree', sans-serif;
    font-size: 3.2rem;
    font-weight: 800;
    color: var(--secondary-color);
    margin: 0 0 4rem 0;
  }

  p {
    font-size: variables.$spacing-md;
    font-weight: 300;
    color: var(--main-white);
  }

  .tags {
    margin: variables.$spacing-md 0 variables.$spacing-md;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }

  .tag {
    background: var(--secondary-color);
    color: var(--main-gray);
    padding: 4px 8px;
    border-radius: variables.$border-radius;
    font-size: 1.1rem;
    font-weight: 700;
    transition: variables.$transition-base;
  }

  .button {
    cursor: pointer;
    background: none;
    border: none;
    color: var(--muted-gray);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-direction: row-reverse;
    font-size: 1.3rem;
    font-weight: 700;
    transition: variables.$transition-base;

    &:hover {
      color: var(--main-white);
    }
  }

  .buttons {
    display: flex;
    padding-top: 0.5rem;
    gap: 1.6rem;
  }
}

.seeMore {
  display: flex;
  width: max-content;
  align-items: center;
  gap: 1.25rem;
  border: none;
  cursor: pointer;
  color: var(--muted-gray);
  background-color: var(--main-gray);
  margin-top: 0.25rem;
  border-radius: variables.$border-radius;
  padding: 1.8rem 1.4rem;
  transition: variables.$transition-base;

  &.light:hover {
    filter: brightness(variables.$brightness-light);
  }

  &.dark:hover {
    filter: brightness(variables.$brightness-dark);
  }

  span {
    font-family: 'figtree', sans-serif;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--muted-gray);
  }
}

.githubIcon {
  color: var(--muted-gray);
}

// Dark mode adjustments
@media (prefers-color-scheme: dark) {
  .projectCard {
    &:hover {
      filter: brightness(0.98);
    }
  }

  .seeMore {
    &:hover {
      filter: brightness(0.98);
    }
  }
}
