// Font declarations
@font-face {
  font-display: swap;
  font-family: "IRANYekanX";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/IRANYekanX-Light.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "IRANYekanX";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/IRANYekanX-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "YekanBakh";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/YekanBakhFaNum-Thin.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "YekanBakh";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/YekanBakhFaNum-Light.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "YekanBakh";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/YekanBakhFaNum-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "YekanBakh";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/YekanBakhFaNum-SemiBold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "YekanBakh";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/YekanBakhFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "YekanBakh";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/YekanBakhFaNum-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "YekanBakh";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/YekanBakhFaNum-Black.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "YekanBakh";
  font-style: normal;
  font-weight: 950;
  src: url("../assets/YekanBakhFaNum-ExtraBlack.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/figtree-v8-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/figtree-v8-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/figtree-v7-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/figtree-v8-latin-800.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Georama";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/georama-v13-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Georama";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/georama-v13-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Georama";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/georama-v13-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Georama";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/georama-v13-latin-700.woff2") format("woff2");
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}
