@use '../../styles/variables' as *;

.wrapper {
  display: flex;
  align-items: center;
  gap: $spacing-lg;
  cursor: pointer;
}

.name {
  color: var(--main-white);
  font-weight: 800;
}

.image {
  width: 24px;
}

.dark {
  filter: invert(1) brightness(100) contrast(100);
}

.smSpace {
  font-size: 1.2rem;
}

@media (max-width: $mobile-breakpoint) {
  .wrapper {
    gap: $spacing-sm
  }
}

