@use "../../styles/variables";

.sectionImg {
    grid-column: 2;
    margin-bottom: 2.25rem;
    margin-inline-start: 2.2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.mainImg {
    height: 14rem;
    border-radius: 100%;
    border: 6px solid var(--main-gray);
    margin-bottom: variables.$spacing-xs;
    transition: variables.$transition-slow;
}

.nameLinks {
    display: flex;
    align-items: end;
    gap: variables.$spacing-sm;
}

.name {
    font-size: 5.4rem;
    font-weight: 700;
    color: var(--main-white);
}

.fa {
    line-height: 1.4;
    font-weight: 900;
}

.smSpace {
    font-size: 3.2rem;
}

.description {
    font-size: variables.$spacing-lg;
    font-weight: 300;
    color: var(--main-white);
    letter-spacing: 1.3px;
    transition: variables.$transition-base;
}

.socialLinks {
    list-style: none;
    margin-bottom: 0.75rem;
    animation: appear 0.5s ease-out forwards;
    display: flex;
    gap: variables.$spacing-sm;
}

.linkIcon {
    height: 2.2rem;
    fill: var(--muted-gray);
    transition: all 0.3s ease-in-out;

    &:hover {
        fill: var(--secondary-color);
    }
}

.hidden {
    opacity: 0;
}

a:visited,
a:link,
a:active {
    color: var(--secondary-color);
}
// Mobile responsive
@media (max-width: variables.$mobile-breakpoint) {
    .sectionImg {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 3rem;
    }

    .nameLinks {
        flex-direction: column;
        align-items: center;
    }

    .name {
        font-size: 5rem;
    }
}
