@font-face {
	font-display: swap;
	font-family: "Figtree";
	font-style: normal;
	font-weight: 300;
	src: url("assets/figtree-v8-latin-300.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Figtree";
	font-style: normal;
	font-weight: 600;
	src: url("assets/figtree-v8-latin-600.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Figtree";
	font-style: normal;
	font-weight: 700;
	src: url("assets/figtree-v7-latin-700.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Figtree";
	font-style: normal;
	font-weight: 800;
	src: url("assets/figtree-v8-latin-800.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Georama";
	font-style: normal;
	font-weight: 300;
	src: url("assets/georama-v13-latin-300.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Georama";
	font-style: normal;
	font-weight: 400;
	src: url("assets/georama-v13-latin-regular.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Georama";
	font-style: normal;
	font-weight: 600;
	src: url("assets/georama-v13-latin-600.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Georama";
	font-style: normal;
	font-weight: 700;
	src: url("assets/georama-v13-latin-700.woff2") format("woff2");
}

:root {
	font-family: "Georama", sans-serif;
	color-scheme: light dark;

	--primary-color: #f7f4ea;
	--secondary-color: rgba(198, 150, 112);
	--main-white: #545e52;
	--main-gray: #fefefd;
	--muted-gray: #c6c3bb;
	--extra-muted-gray: rgba(75, 89, 108, 0.5);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
	padding-bottom: 2px;
	border-bottom: 3px solid var(--secondary-color);
}

html {
	font-size: 10px;
	overflow-x: hidden;
}

body {
	background-color: var(--primary-color);
	font-family: "Georama", sans-serif;
	transition: background-color 0.3s;
}
